ProjectRAAMENFrontEnd/Web References/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertStaffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUsernameAndPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUsernameAndPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUsernameAndPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCustomer">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStaff">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStaffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertStaffSoapIn">
    <wsdl:part name="parameters" element="tns:InsertStaff" />
  </wsdl:message>
  <wsdl:message name="InsertStaffSoapOut">
    <wsdl:part name="parameters" element="tns:InsertStaffResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUsernameAndPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameAndPassword" />
  </wsdl:message>
  <wsdl:message name="GetUserByUsernameAndPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="GetUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCustomer" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStaffSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStaff" />
  </wsdl:message>
  <wsdl:message name="GetAllStaffSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="InsertCustomer">
      <wsdl:input message="tns:InsertCustomerSoapIn" />
      <wsdl:output message="tns:InsertCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertStaff">
      <wsdl:input message="tns:InsertStaffSoapIn" />
      <wsdl:output message="tns:InsertStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsernameAndPassword">
      <wsdl:input message="tns:GetUserByUsernameAndPasswordSoapIn" />
      <wsdl:output message="tns:GetUserByUsernameAndPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input message="tns:GetUserByIdSoapIn" />
      <wsdl:output message="tns:GetUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input message="tns:UpdateUserProfileSoapIn" />
      <wsdl:output message="tns:UpdateUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <wsdl:input message="tns:GetAllCustomerSoapIn" />
      <wsdl:output message="tns:GetAllCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStaff">
      <wsdl:input message="tns:GetAllStaffSoapIn" />
      <wsdl:output message="tns:GetAllStaffSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStaff">
      <soap:operation soapAction="http://tempuri.org/InsertStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsernameAndPassword">
      <soap:operation soapAction="http://tempuri.org/GetUserByUsernameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap:operation soapAction="http://tempuri.org/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap:operation soapAction="http://tempuri.org/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaff">
      <soap:operation soapAction="http://tempuri.org/GetAllStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCustomer">
      <soap12:operation soapAction="http://tempuri.org/InsertCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStaff">
      <soap12:operation soapAction="http://tempuri.org/InsertStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsernameAndPassword">
      <soap12:operation soapAction="http://tempuri.org/GetUserByUsernameAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap12:operation soapAction="http://tempuri.org/GetUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaff">
      <soap12:operation soapAction="http://tempuri.org/GetAllStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44387/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44387/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>